.btn {
  font-size: .9em;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
  padding: .8em 1.2em;
  margin-right: .5em;
  color: $text-color;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: $margin;
  background-color: $primary-color;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: lighten($primary-color, 5%);
  }

}

.btn-default {
  @extend .btn;
  background-color: #eee;
  border: 1px solid darken(#eee, 20%);
  color: black;
}

.btn-primary {
  @extend .btn;
  &:hover {
    background-color: lighten($primary-color, 7%);
  }
}

.btn-warning {
  @extend .btn;
  background-color: color('red');
  &:hover {
    background-color: lighten(color('red'), 7%);
  }
}

input[type="submit"] {
  @extend .btn;
}
