.margin {
  margin: $margin;

  &-none {
    margin: 0;
  }
  &.x2 {
    margin: $margin * 2;
  }
  &.x3 {
    margin: $margin * 3;
  }
  &.x4 {
    margin: $margin * 4;
  }

  &-vertical {
    margin-top: $margin;
    margin-bottom: $margin;
    &.x2 {
      margin-top: $margin * 2;
      margin-bottom: $margin * 2;
    }
    &.x3 {
      margin-top: $margin * 3;
      margin-bottom: $margin * 3;
    }
    &.x4 {
      margin-top: $margin * 4;
      margin-bottom: $margin * 4;
    }
  }

  &-horizontal {
    margin-left: $margin;
    margin-right: $margin;
    &.x2 {
      margin-left: $margin * 2;
      margin-right: $margin * 2;
    }
    &.x3 {
      margin-left: $margin * 3;
      margin-right: $margin * 3;
    }
    &.x4 {
      margin-left: $margin * 4;
      margin-right: $margin * 4;
    }
  }

}

.padding {
  padding: $padding;

  &-none {
    padding: 0;
  }
  &.x2 {
    padding: $padding * 2;
  }
  &.x3 {
    padding: $padding * 3;
  }
  &.x4 {
    padding: $padding * 4;
  }

  &-vertical {
    padding-top: $padding;
    padding-bottom: $padding;
    &.x2 {
      padding-top: $padding * 2;
      padding-bottom: $padding * 2;
    }
    &.x3 {
      padding-top: $padding * 3;
      padding-bottom: $padding * 3;
    }
    &.x4 {
      padding-top: $padding * 4;
      padding-bottom: $padding * 4;
    }
  }

  &-horizontal {
    padding-left: $padding;
    padding-right: $padding;
    &.x2 {
      padding-left: $padding * 2;
      padding-right: $padding * 2;
    }
    &.x3 {
      padding-left: $padding * 3;
      padding-right: $padding * 3;
    }
    &.x4 {
      padding-left: $padding * 4;
      padding-right: $padding * 4;
    }
  }

}
