.u-clearfix {
  /* IE-6 */
  *zoom: 1;
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.u-float-left {
  float:left;
}

.u-float-right {
  float: right;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-invisible {
  visibility: hidden;
}

.u-big-title {
  font-size: 3em;
  margin-bottom: 0;
}

.u-border-radius {
  border-radius: 5px;
}

.u-full-width {
  width: 100%;
}
